@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
  }
}


:root {
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #ca8360;
  --secondary-color: #735A32;
  --third-color: #DB8B4A;
  --forth-color: #DEB38D;
  --fifth-color: #9C9771;
  --border-color: #C4C4C4;
  --background-color:#F8F8F8;
  --font-color: #0E0E0E;
}

html, body {
  height: 100%;
  overflow: hidden;
}


body {
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
  position: relative;
  overscroll-behavior: none;
  background: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
