@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  -webkit-font-smoothing: antialiased;
  position: relative;
  overscroll-behavior: none;
  background: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
